.App {
  text-align: center;
}

.nav a{
  border-radius: 5px;
  background-color: #3b8f8f;
  font-size: larger;
  text-decoration: none;
  color: #CECECE;
  padding: 5px;
  border: solid;
  display: flex;
  flex-wrap: wrap;
}

.nav {
  padding: 15px;
  text-decoration:none;
  background-image:  conic-gradient( black , #a57a0e );
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.logo {
  float: 'left';
  width: 120;
  height: 31;
  margin: '16px 24px 16px 0';
  background: 'rgba(255, 255, 255, 0.2)';
}

.container {
  border: solid;
  border-color: black;
  background-color: #a57a0e;
  font-size: larger;
  display:flexbox;
  margin: 20px;
  padding: 20px;
}

.body-container {
  height: 100vh;
  width: 100vw;
}


@media only screen and (max-width: 480px) {
  .side-leaderboard {
    display: none;
  }
  } 